<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css"
        href="/css/main.css"/>
  <link rel="stylesheet" type="text/css"
        href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
  <script type="text/javascript"
          src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6 frame logo hidden-sm hidden-xs">
      <span class="helper"></span>
      <img src="images/logo.jpg" alt="Spring logo">
    </div>
    <div class="col-sm-12 col-md-6 vertical-center">
      <div class="alert alert-danger" th:if="${param.error}" role="alert">There was a problem logging in. Please try again.</div>
      <form method="post" th:action="@{/login}">
        <h2>Login</h2>
        <div class="form-group">
          <label for="username">Username</label>
          <input th:autofocus type="text" placeholder="Enter your username" class="form-control underline" id="username" name="username" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" placeholder="Enter your password" class="form-control underline" id="password" name="password" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg pull-right btn-log">Log In</button>
          <button type="button" class="btn btn-link btn-lg pull-right btn-log">Forgot Password?</button>
        </div>
        <input type="hidden" id="csrf_token" name="${_csrf.parameterName}" value="${_csrf.token}" />
        <p>Hint: This demo uses "user" and "password".</p>
      </form>
    </div>
  </div>
</div>
</body>
</html>
